body{
    background: url(../images/light-grey-terrazzo.png) repeat;
    /* background: url(../images/dino.jpg) repeat; */

    font-family: 'Thasadith', sans-serif;
    font-size: 30px;
    line-height: 1em;
}
.container{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
.gameName{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.gameName img{
    width: 50%;
    margin: 0px;
}

.instructions{
    display: flex;
    justify-content: center;
}
.game{
    border: 5px solid #82A087;
    margin-bottom: 100px;
}
.box{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.dinoPic{
    width: 50%;
    margin: 30px auto;
}